.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.projects .projectTitle {
  font-size: 3rem;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
}

.projectList > div {
  display: flex;
  flex-wrap: wrap;
  flex: 50%; 
  padding: 3rem 1.5rem;
}

.projectItem {
  margin-bottom: 2rem;
  width: 100%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.projectItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.projectItem .bgImage {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectItem h2 {
  font-size: 25px;
  padding: 0 0.5rem;
}
.projectItem p {
  padding: 0.5rem;
}

@media screen and (max-width: 1200px) {

  .projectList {
    flex-direction: column;
  }

  .projectList > div {
    padding: 2rem 0;
  }

  .projectItem .bgImage { 
    height: 300px;
  }
}

/* Media queries 
@media only screen and (max-width: 1300px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    width: 100%;
  }
  .projectItem {
    width: 300px;
    height: 300px;
  }
}
*/
