/* Star Here */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Work+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
}

:root {
  --black: #252525;
  --white: #fffbf9;
  --peach: #ffbe98;
  --peachlight: #ffe2cc;
  --peachextralight: #fff0e5;
  --pink: #ff9f98;
}

*:focus-visible {
	/* inner indicator */
	outline: 2px var(--white) solid;
	outline-offset: 0;
	/* outer indicator */
	box-shadow: 0 0 0 4px var(--black);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  color: var(--black);
  background-color: var(--white)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

p,
::placeholder {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
}

a {
  color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Timeline */
.vertical-timeline {
  margin-top: 2em;
  padding: 6em 0;
}

.vertical-timeline-element-content {
  background-color: var(--peachlight);
  color: var(--black);
  border-radius: 0;
  box-shadow: none;
}

.vertical-timeline-element-content-arrow {
  border: 7px solid transparent;
  border-right: 7px solid var(--peachlight);
}

.vertical-timeline-element-icon {
  box-shadow: none;
  background-color: var(--black);
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 5px;
}

.vertical-timeline-element-date {
  color: var(--black);
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: -15px;
}
}
