/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Styling */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

:root {
  --black: #121212;
  --white: #fffefd;
  --peach: #ffbe98;
  --lightpeach: #ffe2cc;
  --purple: #645cff;
  --lightpurple: #e9e6ff;
  --lightyellow: #fff6e6;
}

*:focus-visible {
  /* inner indicator */
  outline: 2px var(--white) solid;
  outline-offset: 0;
  /* outer indicator */
  box-shadow: 0 0 0 4px var(--black);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  min-height: 100vh;
  color: var(--black);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p,
::placeholder {
  font-size: 1rem;
  font-family: "Space Mono", monospace;
}

a {
  font-size: 1rem;
  color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Timeline */
.vertical-timeline {
  margin-top: 2em;
  padding: 3em 0 6em 0;
}

.vertical-timeline-element {
  margin: 4em 0;
}

.vertical-timeline-element a {
  display: flex;
  align-items: center;
}

.vertical-timeline-element-content {
  background-color: #e9e6ff;
  color: var(--black);
  border-radius: 0;
  box-shadow: 10px 10px 0 #645cff;
}

.vertical-timeline-element-content h2 {
  color: var(--black);
  font-size: 1.2rem;
}

.vertical-timeline-element-subtitle {
  font-size: 1rem;
}

.vertical-timeline-element-content-arrow {
  display: none;
}

.vertical-timeline-element-icon {
  box-shadow: none;
  background-color: #645cff;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 5px;
}

.vertical-timeline-element-date {
  color: var(--black);
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: -15px;
  }
}
